@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
  background-color: #F0F0F0;
}

.main {
  display: grid;
  height: 100%;
  grid-template-rows: 50px auto 50px; /* Değişiklik */
  align-items: center;
  border: 2px solid #FF4742;
  border-radius: 10px;
  padding: 10px;
  margin: 1rem;
}



#task {
  display: grid;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  
}

.grid {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(10, 50px);
}

.listText {
  padding: 5px;
  border-bottom: 2px solid red;
  border-radius: 1rem;
  margin-bottom: 4rem;
  font-size: 20px;
  list-style-type: none;
}
hr{
  height: 1rem;
}

.removeBtn {
  background: #FF4742;
  border: 1px solid #FF4742;
  box-shadow: 11px 15px 36px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 11px 15px 36px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 15px 36px 0px rgba(0,0,0,0.75);
  float: right;
  border-radius: 1rem;
}

button:hover,
button:active,
.removeBtn:hover,
.removeBtn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
  transition: 0.5s ease;
}

button {
  background: #FF4742;
  border: 1px solid #FF4742;
  box-shadow: 11px 15px 36px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 11px 15px 36px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 15px 36px 0px rgba(0,0,0,0.75);
  float: right;
  border-radius: 1rem;
}



#btnRemoveAll {
  
  margin-top: 10px;
 
}
